<%- include('includes/head.ejs') %>

</head>

<body>

    <%- include('includes/nav.ejs') %>

    <main>
        <div class="container text-center">
            <div class="p-5 pb-1">
                <h1 class="display-2 text-center">Welcome to WebSVF</h1>
            </div>

            <div class="p-5 pb-1">
                <h1>**** This is page is under construction ****</h1>
            </div>

        </div>
    </main>
</body>

</html>