<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1> Dashboard </h1>

    <main>

        <a href="/logout">logout</a>
        <ul> <!--provides link to locally running docker instances-->
            <li><a href="http://127.0.0.1:8080" target="_blank">Instance 1</a></li>
            <li><a href="http://localhost:3005" target="_blank">Instance 2</a></li>

        </ul>
    </main>

    </form>
</body>

</html>